<div id="cookies-request" class="cookies-request">
    <img src="/assets/images/cookie.svg" alt="">
    <div class="cookies-request__content">
        <h2 class="cookies-request__heading">Gestion des cookies</h2>
        <p>En poursuivant votre navigation sur notre site, vous avez la possibilité de choisir d'accepter ou de refuser l'utilisation des cookies. Ces cookies sont utilisés pour améliorer votre expérience de navigation et vous fournir des fonctionnalités personnalisées. Votre vie privée est importante pour nous, et nous nous engageons à protéger vos données personnelles conformément aux réglementations en vigueur.</p>

        <p>Veuillez trouver ci-dessous les boutons d'acceptation et de refus des cookies. Si vous souhaitez en savoir plus sur notre politique en matière de cookies et sur la manière dont vous pouvez les gérer, veuillez consulter notre politique de confidentialité. Nous vous remercions de votre confiance et restons à votre disposition pour toute question ou demande supplémentaire.</p>

        <p>Cordialement,<br>
            L'équipe des Films de Plein Air
        </p>
        <div class="cookies-request__actions">
            <button class="button button--sm" onclick="setCookiesChoices()">Accepter et continuer</button>
            <button class="button button--outline button--sm" onclick="setCookiesChoices()">Refuser et continuer</button>
        </div>
    </div>

</div>