<header class="header">
  <div class="header__logo">
    <a href="#">Les Films de Plein Air</a>
  </div>
  <button type="button" class="header__toggle-btn" onclick="toggleMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </button>
  <nav class="header__nav">
    <ul class="header__nav__menu">
      <li class="header__nav__menu__item"><a href="index.html" class="link link--animated">Accueil</a></li>
      <li class="header__nav__menu__item"><a href="programmation.html" class="link link--animated">Programmation</a></li>
      <li class="header__nav__menu__item"><a href="actualites.html" class="link link--animated">Actualités</a></li>
      <li class="header__nav__menu__item"><a href="a-propos.html" class="link link--animated">A propos</a></li>
      <li class="header__nav__menu__item"><a href="informations.html" class="link link--animated">Infos pratiques</a></li>
      <li class="header__nav__menu__item"><a href="" class="link link--animated">Contact</a></li>
    </ul>
  </nav>
</header>