@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:wght@200;300;500&family=Oswald:wght@300;400;500&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

address {
  font-style: normal;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #12112B;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

.link--animated {
  position: relative;
}
.link--animated:after {
  content: "";
  height: 1px;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #FFFFFF;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.link--animated:hover:after {
  transform: scaleX(1);
}

.input-search {
  z-index: 0;
  position: relative;
  width: 100%;
  max-width: 400px;
}
.input-search input {
  z-index: 0;
  border: none;
  position: relative;
  background-color: transparent;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  font-size: 1.5rem;
  color: #FFFFFF;
  padding: 10px calc(5% + 2.5rem) 10px 15px;
  width: 100%;
  transition: border-color 300ms ease-in-out, background-color 450ms ease-in-out, outline 250ms ease-in-out;
}
.input-search input:hover {
  outline-color: #FFFFFF;
}
.input-search input:focus {
  outline-color: #FFFFFF;
  outline-width: 2px;
  background-color: #12112B;
  transition: border-color 300ms ease-in-out, background-color 150ms ease-in-out;
}
.input-search input:focus ~ .input-search__background {
  opacity: 1;
}
.input-search button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.input-search__background {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 350ms ease-in-out;
  /*
  * Prevents issues when the parent creates a
  * stacking context. (For example, using the transform
  * property )
  */
}
.input-search__background:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(212deg, #984AFF 60%, #b1a3f8 -19%);
  transform: translate3d(0px, 0px, 0) scale(1.01);
  filter: blur(22px);
  opacity: 0.85;
  transition: opacity 0.3s;
  border-radius: inherit;
}
.input-search__background::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
.input-search .icon {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
}

.icon {
  display: inline-block;
  height: 2rem;
  vertical-align: middle;
}
.icon svg {
  height: 100%;
}

.article-card {
  position: relative;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.article-card__date {
  align-self: flex-end;
  font-size: 1rem;
  font-weight: 300;
}
.article-card__illustration {
  width: 100%;
  height: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
}
.article-card__heading {
  font-size: 1.3rem;
}
.article-card__heading::first-letter {
  text-transform: capitalize;
}
.article-card a.expanded:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.date-selector {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
}
.date-selector__date {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  color: #000;
  font-family: "Oswald", sans-serif;
  width: 80px;
  opacity: 70%;
  transform: scale(0.9);
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}
.date-selector__date > * {
  display: block;
  width: 100%;
}
.date-selector__date__day {
  background-color: brown;
  color: #FFFFFF;
  font-size: 1.2rem;
  text-align: center;
  padding: 7px 12px;
}
.date-selector__date__number {
  text-align: center;
  padding: 8px;
  font-size: 2.5rem;
}
.date-selector__date__month {
  font-size: 0.9rem;
  text-align: center;
  padding-bottom: 5px;
}
.date-selector__date.active {
  opacity: 100%;
  transform: scale(1);
}

.movie {
  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: #211f50;
  padding: 35px;
  border-radius: 15px;
  animation: movie-appear 350ms ease-in-out both;
}
.movie:nth-of-type(2) {
  animation-delay: 200ms;
}
.movie:nth-of-type(3) {
  animation-delay: 400ms;
}
.movie:nth-of-type(4) {
  animation-delay: 600ms;
}
.movie__poster {
  flex-grow: 2;
  height: 200px;
  aspect-ratio: 2/3;
}
.movie__poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie__infos {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.movie__heading {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
}
.movie__title {
  font-size: 2rem;
}
.movie__tags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 0.9rem;
  gap: 12px;
}
.movie__tags > * {
  display: inline-block;
  background-color: #984AFF;
  padding: 5px 10px;
}
.movie__author {
  color: #999999;
  font-size: 1.3rem;
}
.movie__synopsis {
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.movie__data {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  color: #999999;
  gap: 5rem;
}
.movie__data > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.movie__data > * svg {
  width: 20px;
}
.movie__actions {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  line-height: 1.5rem;
}

@keyframes movie-appear {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
  }
}
.book-button {
  display: block;
  background-color: #FFD400;
  color: #000000;
  padding: 15px 35px;
  border-radius: 5px;
  min-width: 200px;
  text-align: center;
}

.header {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.header__logo {
  font-family: "Gloock", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.header__nav__menu {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.header__nav__menu__item .link {
  padding-bottom: 5px;
}

.footer {
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  background-color: black;
}
.footer__logo {
  font-family: "Gloock", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.footer__nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1rem;
}

.homepage-hero__posters {
  position: relative;
  display: flex;
}
.homepage-hero__posters__content {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  aspect-ratio: 1.125;
}
.homepage-hero__posters__content:hover .homepage-hero__poster {
  filter: blur(4px);
}
.homepage-hero__posters__content:hover .homepage-hero__poster:after {
  z-index: 1;
  opacity: 1;
}
.homepage-hero__posters .homepage-hero__poster {
  position: relative;
  display: block;
  height: 50%;
  aspect-ratio: 0.75;
  transition: transform 100ms 50ms ease-in-out, border-radius 200ms ease-in-out, filter 200ms ease-in-out;
  animation: poster-in 500ms ease-in-out backwards;
}
.homepage-hero__posters .homepage-hero__poster:nth-child(1) img {
  border-top-left-radius: 15px;
}
.homepage-hero__posters .homepage-hero__poster:nth-child(2) {
  animation-delay: 300ms;
}
.homepage-hero__posters .homepage-hero__poster:nth-child(3) {
  animation-delay: 600ms;
}
.homepage-hero__posters .homepage-hero__poster:nth-child(3) img {
  border-top-right-radius: 15px;
}
.homepage-hero__posters .homepage-hero__poster:nth-child(4) {
  animation-delay: 900ms;
}
.homepage-hero__posters .homepage-hero__poster:nth-child(4) img {
  border-bottom-left-radius: 15px;
}
.homepage-hero__posters .homepage-hero__poster:nth-child(5) {
  animation-delay: 1200ms;
}
.homepage-hero__posters .homepage-hero__poster:nth-child(6) {
  animation-delay: 1500ms;
}
.homepage-hero__posters .homepage-hero__poster:nth-child(6) img {
  border-bottom-right-radius: 15px;
}
.homepage-hero__posters .homepage-hero__poster img {
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 350ms ease-in-out, border-radius 200ms ease-in-out;
}
.homepage-hero__posters .homepage-hero__poster img:nth-of-type(2) {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.05);
  filter: blur(15px) brightness(180%);
}
.homepage-hero__posters .homepage-hero__poster:after {
  opacity: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(20, 0, 89, 0.6);
  transition: opacity 400ms ease-in-out;
}
.homepage-hero__posters .homepage-hero__poster:hover {
  filter: none;
  transition: transform 200ms 100ms ease-in-out, filter 200ms ease-in-out;
  z-index: 2;
  transform: scale(1.1);
}
.homepage-hero__posters .homepage-hero__poster:hover img {
  border-radius: 0;
}
.homepage-hero__posters .homepage-hero__poster:hover:after {
  opacity: 0;
}
.homepage-hero__posters .homepage-hero__poster:hover img:nth-of-type(2) {
  opacity: 0.6;
}

@keyframes poster-in {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
  }
}
.homepage-hero__headings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Gloock", serif;
  padding-left: 3rem;
  max-width: 680px;
}
.homepage-hero__headings > * {
  font-family: inherit;
}
.homepage-hero__headings__name {
  font-size: 4rem;
  text-transform: uppercase;
  animation: from-right 3s cubic-bezier(0.19, 0.36, 0.15, 0.95) both;
}
.homepage-hero__headings__date {
  font-size: 3rem;
  text-transform: uppercase;
  align-self: flex-end;
  animation: from-left 3s 500ms cubic-bezier(0.19, 0.36, 0.15, 0.95) both;
}
.homepage-hero__headings__place {
  font-size: 2rem;
  text-transform: uppercase;
  animation: from-right 3s 1s cubic-bezier(0.19, 0.36, 0.15, 0.95) both;
}

@keyframes from-right {
  0% {
    transform: translateX(35px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
@keyframes from-left {
  0% {
    transform: translateX(-35px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
.homepage-hero {
  margin-top: -120px;
  padding-top: 120px;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
  height: 100vh;
  background: url(/assets/images/hero-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 9000px rgba(18, 17, 43, 0.85);
  display: grid;
  grid-template-rows: auto max-content auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "search search" "posters headings" "cta cta";
  gap: 0;
}
.homepage-hero__search {
  grid-area: search;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.homepage-hero__posters {
  grid-area: posters;
  justify-content: flex-end;
  align-items: flex-end;
  height: 50vh;
}
.homepage-hero__headings {
  grid-area: headings;
}
.homepage-hero__cta {
  grid-area: cta;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}
.homepage-hero__cta .link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.homepage-hero__cta .icon {
  padding-top: 3px;
  animation: cta-animation 2.5s ease-in-out infinite;
}

@keyframes cta-animation {
  0%, 50%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(25%);
  }
}
.homepage__articles {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  gap: 45px;
  background-color: #181818;
  padding: 65px 65px 8rem;
}
.homepage__articles > * {
  max-width: 1400px;
  margin: auto;
  width: 100%;
}
.homepage__articles__headings {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.homepage__articles__headings__title {
  font-size: 2rem;
}
.homepage__articles__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
}
.homepage__articles__list > * {
  width: 33%;
}

.page-hero {
  height: 320px;
  margin-top: -120px;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/hero-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 9000px rgba(18, 17, 43, 0.5);
}
.page-hero__title {
  font-size: 3rem;
  text-transform: uppercase;
}

.program {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding-top: 50px;
  gap: 35px;
  padding-bottom: 5rem;
}
.program__title {
  text-align: center;
  font-size: 2rem;
}
.program__list {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.program__list hr {
  width: 80%;
  border-top: 1px solid #FFFFFF;
  border-bottom: 0;
}

.news {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding-top: 50px;
  gap: 35px;
  padding-bottom: 5rem;
}
.news__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 6rem;
}
.news__list {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}
.news__list > * {
  width: 28%;
}

.movie-layout .page-hero {
  height: 420px;
}

.movie-page {
  padding-bottom: 5rem;
}
.movie-page > * {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.movie-page__informations {
  display: flex;
  flex-direction: row;
  background-color: #211f50;
  padding: 20px 40px;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  transform: translateY(-50%);
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.movie-page__informations > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  font-size: 1rem;
}
.movie-page__informations > * svg {
  height: 28px;
}
.movie-page__informations + div {
  margin-top: 0;
}
.movie-page__actions {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.movie-page__actions .link {
  line-height: 2rem;
}
.movie-page__content {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 5rem;
}
.movie-page__content__heading {
  font-size: 3rem;
  margin-bottom: 4rem;
}
.movie-page__content.error404 {
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.movie-page__content.error404 img {
  height: 300px;
}
.movie-page__content.error404 p {
  text-align: center;
}

.article-layout .page-hero {
  height: 420px;
}

.article-page {
  padding-bottom: 5rem;
}
.article-page > * {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.article-page__actions {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.article-page__actions .link {
  line-height: 2rem;
}
.article-page__date {
  color: #b3b3b3;
  width: 100%;
  max-width: 1400px;
  text-align: right;
}
.article-page__content {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 5rem;
}
.article-page__content__heading {
  font-size: 3rem;
  margin-bottom: 4rem;
}
.article-page__content.error404 {
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.article-page__content.error404 img {
  height: 300px;
}
.article-page__content.error404 p {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
