.cookies-request {
  @include mobile-only {
    flex-direction: column;
  }
  z-index: 500;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
  margin: auto;
  border-top: 5px solid map-get($colors, primary);
  background: black;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 2rem;

  img {
    @include mobile-only {
      margin: auto;
    }
    width: 120px;
  }

  &__heading {
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      font-size: 0.8rem;
    }
  }

  &__actions {
    @include mobile-only {
      flex-direction: column;
      gap:1rem;
    }
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}