.input-search {
  position: relative;
  width: 100%;
  max-width: 400px;

  input {
    background-color: transparent;
    border: 1px solid transparentize(map-get($colors, text), 0.5);
    border-radius: 10px;
    font-size: 1.5rem;
    color: map-get($colors, text);
    padding: 10px calc(5% + 2.5rem) 10px 15px;
    width: 100%;
    transition: border-color 300ms ease-in-out;

    &:hover {
      border-color: map-get($colors, text);
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .icon {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    color: transparentize(map-get($colors, text), 0.3)
  }
}