.input-search {
  z-index: 0;
  position: relative;
  width: 100%;
  max-width: 400px;

  input {
    z-index: 0;

    &:focus {
      & ~ .input-search__background {
        opacity: 1;
      }
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__background {
    opacity: 0;
    z-index: -1;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transition: opacity 350ms ease-in-out;

    &:before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(212deg, map-get($colors, secondary) 60%, #b1a3f8 -19% );
      transform: translate3d(0px, 0px, 0) scale(1.01);
      filter: blur(22px);
      opacity: 0.85;
      transition: opacity 0.3s;
      border-radius: inherit;
    }

    /*
    * Prevents issues when the parent creates a
    * stacking context. (For example, using the transform
    * property )
    */
    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      border-radius: inherit;
    }
  }

  .icon {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    color: transparentize(map-get($colors, text), 0.3)
  }
}