.movie {
  @include tablet-only {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  @include mobile-only {
    flex-direction: column;
    padding: 25px;
  }
  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: lighten(map-get($colors, background-primary), 10%);
  padding: 35px;
  border-radius: 15px;
  animation: movie-appear 350ms ease-in-out both;
  width: 90%;
  margin: auto;

  &:nth-of-type(2) {
    animation-delay: 200ms;
  }

  &:nth-of-type(3) {
    animation-delay: 400ms;
  }
  &:nth-of-type(4) {
    animation-delay: 600ms;
  }


  &__poster {
    @include tablet-only {
      width: 35%;
      height: auto;
      flex-grow: 0;
    }

    @include mobile-only {
      width: 100%;
      height: auto;
    }
    flex-grow: 2;
    height: 200px;
    aspect-ratio: 2/3;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__infos {
    @include tablet-only {
      width: 60%;
      flex-grow: 0;
    }

    @include mobile-only {
      width: 100%;
      gap: 1rem;
    }
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__heading {
    @include tablet-only {
      flex-direction: column;
    }
    @include mobile-only {
      width: 100%;
      align-items: flex-start;
    }
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 0.9rem;
    gap: 12px;
    & > * {
      display: inline-block;
      background-color: #984AFF;
      padding: 5px 10px;
    }
  }

  &__author {
    color: darken(#FFF, 40%);
    font-size: 1.3rem;
  }

  &__synopsis {
    font-size: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  &__data {
    @include tablet-only {
      flex-direction: column;
      gap: 0.5rem;
    }

    @include mobile-only {
      display: none;
    }
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    color: darken(#FFF, 40%);
    gap: 5rem;

    & > * {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      svg {
        width: 20px;
      }
    }
  }

  &__actions {
    @include tablet-only {
      flex-direction: row;
    }

    @include mobile-only {
      flex-direction: column;
      & > * {
        width: 100%;
        text-align: center;
      }
    }
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    line-height: 1.5rem;
  }
}

@keyframes movie-appear {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
  }
}