@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:wght@200;300;500&family=Oswald:wght@300;400;500&display=swap');

$font-logo: 'Gloock', serif;
$font-paragraph: 'Montserrat', sans-serif;
$font-heading: 'Oswald', sans-serif;