$posters-radius: 15px;

.homepage-hero__posters {
  position: relative;
  display: flex;

  &__content {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    aspect-ratio: 1.125;

    &:hover {
      .homepage-hero__poster {
        filter: blur(4px);
        &:after {
          z-index: 1;
          opacity: 1;
        }
      }
    }
  }

  .homepage-hero__poster {
    &:nth-child(1) {
      img {
        border-top-left-radius: $posters-radius;
      }

    }
    &:nth-child(2) {
      animation-delay: 300ms;
    }
    &:nth-child(3) {
      img {
        border-top-right-radius: $posters-radius;
      }
      animation-delay: 600ms;
    }
    &:nth-child(4) {
      img {
        border-bottom-left-radius: $posters-radius;
      }
      animation-delay: 900ms;
    }
    &:nth-child(5) {
      animation-delay: 1200ms;
    }
    &:nth-child(6) {
      img {
        border-bottom-right-radius: $posters-radius;
      }
      animation-delay: 1500ms;
    }

    position: relative;
    display: block;
    height: 50%;
    aspect-ratio: 0.75;
    transition: transform 100ms 50ms ease-in-out, border-radius 200ms ease-in-out, filter 200ms ease-in-out;
    animation: poster-in 500ms ease-in-out backwards;
    img {
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 350ms ease-in-out, border-radius 200ms ease-in-out;
      &:nth-of-type(2) {
        opacity: 0;
        z-index: -1;
        position: absolute;
        top: 0;
        left:0;
        transform: scale(1.05);
        filter: blur(15px) brightness(180%);

      }
    }

    &:after {
      opacity: 0;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparentize(map-get($colors, background-secondary), 0.4);
      //backdrop-filter: blur(2px);
      transition: opacity 400ms ease-in-out;
    }

    &:hover {
      filter: none;
      transition: transform 200ms 100ms ease-in-out, filter 200ms ease-in-out;
      z-index: 2;
      transform: scale(1.1);
      img {
        border-radius: 0;
      }
      &:after {
        opacity: 0;
      }
      img:nth-of-type(2) {
        opacity: 0.6;
      }
    }
  }
}

@keyframes poster-in {
  from {
    opacity: 0;
    transform: scale(0.7);
  }

  to {
    opacity: 1;
  }
}